@import "tailwindcss";

@theme {
  --font-sans: "Inter Variable", sans-serif;

  --height-screen: 100svh;
  --min-height-screen: 100svh;
  --max-height-screen: 100svh;

  --width-screen: 100svw;
  --min-width-screen: 100svw;
  --max-width-screen: 100svw;

  --grid-template-rows-layout: auto 1fr auto;
  --grid-template-columns-layout: auto 1fr auto;
}

@layer base {
  body {
    @apply bg-stone-100 text-stone-950 dark:bg-stone-900 dark:text-stone-50;

    > div#app {
      @apply grid min-h-screen grid-rows-layout;

      > * {
        @apply col-start-1;
      }
    }
  }
}
