@import "tailwindcss";

@theme {
  --font-sans: "Inter Variable", sans-serif;
  --font-heading: "Exo 2 Variable", sans-serif;

  --grid-template-rows-layout: auto 1fr auto;
  --grid-template-columns-layout: auto 1fr auto;
}

@layer base {
  body {
    @apply bg-stone-100 text-stone-950 dark:bg-stone-900 dark:text-stone-50;

    > div#app {
      @apply grid min-h-screen grid-rows-layout;

      > * {
        @apply col-start-1;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
